/* ---------- FIND CONNECTIONS ---------- */

.connection-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 12px;

  gap: 12px;
}

.connection .row {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
  min-width: 0;
}


.text-block {
  display: flex;
  flex-direction: column;

  flex: 1;
  min-width: 0;
}

.name{
    font-size: 1.1rem;
    font-weight: bold;
}

.connection-row .name {
  margin-bottom: 3px;
  font-size: 1rem;

}

.connection-row .msg {
  font-size: 12px;
  color: #777;
  line-height: 1.35;
}

.username{
    font-size: 10px;
}

.add-btn {
  min-width: 80px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  background: #179c65;
  color: #fff;

  border: none;
  border-radius: 8px;

  flex-shrink: 0;
  width: 10%;
}

.add-btn:hover {
  background: #138454;
}

.add-btn:active {
  transform: scale(0.97);
}