* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 600;
}
.imgDiv {
  width: 50%;
  display: flex;
  justify-content: center;
}
img {
  width: 100%;
}
.loginGen {
  display: flex;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
  align-items: center;
}

.formDiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
label {
  color: black;
}

.inputBackground {
  background-color: rgba(128, 128, 128, 0.062);
  border: 0;
  outline: 0;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 15px;
  color: black;
  /* Ensure the input doesn't hide text behind the icon */
  padding-right: 45px;
}

.forgot {
  color: black;
  font-size: 13px;
  text-align: center;
}

button {
  background-color: #242c74;
  color: white;
  width: 100%;
}

.CreateAcc {
  margin-top: 30px;
}

.input-wrap {
  position: relative;
  width: 100%; /* Ensure it fills the form width */
}

.eye-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #666; /* Greyish color for the icon */
  font-size: 1.2rem; /* Adjust icon size */
  transition: color 0.3s ease;
}

.eye-icon:hover {
  color: #242c74; /* Changes color to your button theme on hover */
}
