.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px 8px 14px;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  flex-shrink: 0;
  transition: transform 0.25s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #041122;
}

.navbar.hide {
  transform: translateY(-100%);
}

.navbar.show {
  transform: translateY(0);
}

.navbar.app {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
}

.navbar-left.active{
  border: none;
}

.navbar-logo {
  width: auto;
  height: 30px;
  display: block;
}

.navbar-name {
  font-weight: bold;
  font-size: 15px;
  color: green;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.navbar-item {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  color: #179c65;
}

.navbar-item.active {
  color: #fff;
  pointer-events: none;
  border: none;
}

.navbar.navbar-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 1000;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 20px 40px;
}

.hamburger-menu {
  position: absolute;
  top: 70px;
  right: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1100;
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.hamburger-menu.show {
  opacity: 1;
  transform: translateY(0);
}

.hamburger-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s;
}

.hamburger-menu a:hover {
  color: #007bff;
  cursor: pointer;
}

.navbar-right .hamburger-icon {
  cursor: pointer;
  color: green;
}
